<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">

	<header>
	    <div id="search">
		<label>Search:</label>
		<div class="search-bar">
		    <input id="search-input" type="text" placeholder="Name of algorithm or code" autofocus="autofocus">
		</div>
		<button id="find-button" class="button blue">Find Code</button>
	    </div>

	    <div id="search-results">
		<div class="result">

		    <div class="avatars">

		    </div>
		    <span class="votes"><span>271</span> votes</span>
		    <div class="meta">
			<span class="byline">By jasdev and 2 others</span>
			<span class="revisions">13 revisions</span>
			<div class="snippet">

			</div>
		    </div>
		</div>

	    </div>
	</header>

	<footer>
	</footer>

    </div> <!-- /container -->
    <!-- Nonblocking scripts at the bottom of the body -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/publish.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
