<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/highlight-styles/default.css">
</head>

<body>
    <div>
        <header>
            <h1 align="center" id="top" class="center">
                <img id="profPic" src="http://gravatar.com/avatar/af111f4cc71a9c259170bd8640578a62?s=400" class="img-circle avatars">
                <span id="name">Jasdev Singh</span>
            </h1>
            <div id="table">
                <table id="summary" class="table table-bordered">
                    <tr>
                        <td>Snippets submitted</td> <td id="centerColumn"><a href="#">34</a></td>
                    </tr>
                    <tr>
                        <td>Number of Comments</td> <td id="centerColumn"><a href="#">15</a></td>
                    </tr>
                    <tr>
                        <td>Total Upvoted</td> <td id="centerColumn"><a href="#">5</a></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <div class="span3">
                    <h1>Snippets</h1>
                </div>
            </div>
        <div class="row">
            <div class="span7">
                <div class="metaHeader">
                    By <a href="#">JasdevS</a>, 13 comments
                </div>

                <div class="snippet">
                    <pre>
                        <code class="haskell">
-- Ma petit chou-fleur...
(succ 'H') : " " ++ (reverse "3<") ++ " U"
                    </code></pre>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span7">
                <div class="metaHeader">
                    By <a href="#">JasdevS</a>, 4 comments
                </div>

                <div class="snippet">
                    <pre>
                        <code class="java">
public static void main(String[] args){
    System.out.print("Hello world!");
}
                    </code></pre>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <h1 class="left">Comments</h1>
            </div>
        </div>

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Quicksort @ line 141
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                "Any reason you didnt use Java's built-in LinkedList?"
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Transitive Closure @ line 286
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                "This line is redundant and can be refactored."
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="span3">
                <h1 class="left">Recent Votes</h1>
            </div>
        </div>

        <div class="row">
            <div class="span7">
                <span><i class="icon-arrow-down"></i> <a href="#">Quicksort</a> by <a href="#">Penguin</a></span>
                <span style="float: right;">43 mintues ago</span>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <span><i class="icon-arrow-up"></i> <a href="#">Transitive Closure</a> by <a href="#">abhishelat</a></span>
                <span style="float: right;">6 hours ago</span>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <span><i class="icon-arrow-down"></i> <a href="#">Pattern Matching w/ wildcards</a> by <a href="#">PuneetLall</a></span>
                <span style="float: right;">2 days ago</span>
            </div>
        </div>
        </header>

    </div> <!-- /container -->
    <!-- Nonblocking scripts at the bottom of the body -->
    <script src="js/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>
</body>
</html>
