<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <!-- <link rel="stylesheet" href="css/custom.css"> -->
</head>

<body>
    <div class="container">


        <img src="http://gravatar.com/avatar/<%= userHash %>?s=150" class="img-circle">

        
    </div> <!-- /container -->
    <!-- Nonblocking scripts at the bottom of the body -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/publish.js"></script>
</body>
</html>
