<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <div class="container">

	<br>
	<div class="row">
	    <div class="span2">
		<center>
		    <ul class="breadcrumb" style="height:14px">
			<li><a href="/"><b>O</b></a> <span class="divider">/</span></li>
			<li class="active"><b>Publish</b></li>
		    </ul>
		</center>
	    </div>

	    <div class="span5">
		<% if (!extra.type) { %>
		<input id="type" style="width:100%;" type="text" placeholder="Name of algorithm or code">
		<% } %>
		<% if (extra.type) { %>
		<input id="type" style="width:100%;" type="text" value="<%= extra.type %>" >
		<% } %>
	    </div>

	    <div class="span5">
		<div class="btn-group">
		    <a id="selectedLanguage" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Java 
			<span class="caret"></span>
		    </a>
		    <ul id="languages" class="dropdown-menu">
			<li><a>Haskell</a></li>
			<li><a>Java</a></li>
			<li><a>Python</a></li>
		    </ul>
		</div>
	    </div>
	</div>

	<ul id="options" class="nav nav-tabs">
	    <li id="typeLI" class="active">
		<a id="type" href="#">Type code</a>
	    </li>
	    <li id="gistLI">
		<a id="gist" href="#gistModal" data-toggle="modal">Get from Gist</a>
	    </li>
	    <li id="uploadLI"><a href="#" id="upload">Upload code</a></li>
	</ul>

	<!-- Gist Modal -->
	<div id="gistModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Grab code from <a href="https://gist.github.com/discover" target="_blank">Gist</a></h3>
	    </div>
	    <div class="modal-body">
		<input id="gistURL" type="text" style="width:95%;" placeholder="Enter Gist URL">
	    </div>
	    <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button id="gistOK" class="btn btn-primary" data-dismiss="modal">Ok</button>
	    </div>
	</div>

<!-- 
		<i class="icon-arrow-right"></i>
		<input type="filepicker" data-fp-apikey="ALQcedGXCTs-BiXSzHaVlz" data-fp-mimetypes="text/*" data-fp-container="modal" data-fp-services="COMPUTER,DROPBOX,GITHUB,GOOGLE_DRIVE" onchange="upload(event.fpfile)"></input>
-->
	<div class="row">
	    <div class="span12">
		<div id="editor">function foo(items) {
		    var x = "All this is syntax highlighted";
		    return x;
		    }</div>
		
		<script src="src-min/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
		    var editor = ace.edit("editor");
		    editor.setTheme("ace/theme/idle_fingers");
		    editor.getSession().setMode("ace/mode/javascript");
		</script>
	    </div>
	</div>

	<hr>
	
	<div class="row">
	    <div class="span12">
		<center>
		    <button onclick="postPublish();" class="btn btn-large btn-success" type="button"><i class="icon-ok icon-white"></i> Publish</button>
		</center>
	    </div>
	</div>

	<hr>

	<footer>

	</footer>

    </div> <!-- /container -->
    <!-- Nonblocking scripts at the bottom of the body -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="js/publish.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
