#code-type {
    padding-left: 20px;
    display:inline;
    text-align:left;
    font-size:x-large;
}

#code-lang {
    text-align:right;
    float:right;
    font-size:large;

}

#code-uname {
    display:inline;
    text-align:left;
    padding-left: 20px;
}

#code-votes {
    float:right;
    text-align:right;
}


#code-bar {
    height:50px;
    width: 100%;
    border-radius: 4px;
    margin-top:5px;
    margin-bottom:5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.1);
    padding: 6px 10px;
    box-sizing: border-box;
}

#upvote{
    top: 5px;
    padding-right: 5px;
    color: #65aef8;
    cursor: hand; cursor: pointer;
}

#upvoteBlock{
    padding-top: 2px;
    position: absolute;
    height: 20px;
    width: 10px;
}