/* Colors  
blue: #67b5f6;

*/

html, body {
    font-family: "Open Sans";
    padding: 0;
/*    margin:0; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 720px;
}
header {
    height: 100%;
    border-bottom: 1px solid #ababab;
    background: #eaeaea;
    padding: 10px;
}

.hidden {
    display:none;
}

#search {
    width: 700px;
    height: 50px;
    background-color:#e2e2e2;
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.1);
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top:10px;
}

#logo {
    width: 100%;
    background-color:#eaeaea;
    box-sizing: border-box;
}

#logoimg {
    width: 200px;
    margin-top:20px;
    margin-left:10px;
    padding:  10px;

}

.search-bar {
    width: 455px;
    background: #fafafa;
    float: left;
    height: 38px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
    position: relative;
    
    box-sizing: border-box;
}
.search-bar input {
    border: none;
    outline: none;
    width: 98%;
    height: 100%;
    position: relative;
    margin: 0;
    background: transparent;
    font-size: 15px;

    font-family: inherit;
    padding: 0;
    padding-left: 10px;
}

.search-bar.focus {
    border-color: #67b5f6;
    background: white;
    -webkit-transition: background .1s ease-in;
}

#search .button {
    float: right;
   
    width: 150px;
}

.button {
    box-sizing: border-box;
    border: 1px solid #42688f;
    position: relative;
    border-radius: 3px;
    background: #459df7;
    box-shadow: inset 0 0 2px white;
    
    color: white;
    font-size: 14px;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    padding: 9px 15px;
    float: left;
    margin: 0;
    position: relative;
    color: white;
    cursor: pointer;
}
.button:hover {
    //border-color: #254c73;
    -webkit-transition: box-shadow .5s ease-in;
}
.button:hover:before {
    box-shadow: 0 3px 1px rgba(0,0,0,.1);
    background-image: -webkit-radial-gradient(center top, 130px 40px, rgba(255,255,255,.4), rgba(255,255,255,.05));
}
.button:active:before {
    box-shadow: none;
}
.button:active {
    top: 1px;
}

.search-bar.focus ~ button:before {
    -webkit-animation: pulse 3.8s infinite linear;
}

.button:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: -webkit-radial-gradient(center top, 130px 40px, rgba(255,255,255,.5), rgba(255,255,255,0));
    left: 0;
    top: 0;
}

#search label {
    float: left;
    color: #7f7f7f;
    text-shadow: 0 1px white;
    font-size: 14px;
    margin: 10px 9px 0 3px;
}
::-webkit-input-placeholder {
    font-style: italic;
    color: #afafaf;
}
::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic; 
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    35% {
        opacity: .1;
    }
    90% {
        opacity: 1;
    }
}


#search-results {
    width: 487px;
/*    border-radius: 4px; */
    background: white;
    border: 5px solid #dadada;
    position: relative;
    padding: 5px;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
/*
#search-results:before {
    content: '';
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    position: absolute;
    border: 1px solid #ababab;
    border-radius: 4px;
}*/

#language-results {
    width:150px;
    border-radius: 4px;
    background: white;
    border: 5px solid #dadada;
    position: relative;
    padding: 5px;
    margin-right:18px;
}

/*
#language-results:before {
    content: '';
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    position: absolute;
    border: 1px solid #ababab;
    border-radius: 4px;
}
*/
.lang-item {
    height:30px;
    line-height: 30px;
    padding-left:14px;
}
.lang-item:hover {
    padding-left:8px;
    border-style:solid;
    border-left:6px solid #87d5ff;
    border-right:none;
    border-top:none;
    border-bottom:none;
    cursor: hand; cursor: pointer;
}


.lang-item.lang-active {
    padding-left:8px;

    border-style:solid;
    border-left:6px solid #67b5f6;
    border-right:none;
    border-top:none;
    border-bottom:none;
}

.lang-number {
    float:right;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 16px;
    height: 16px;
    padding: 5px;
    
    background: #aaa;
    color: #fff;
    text-align: center;

    margin-top:3px;
    margin-right:5px;
    
    font: 12px Arial, sans-serif
}

.lang-active .lang-number {
    background: #66b5f7;
}


#lang-and-code-results {
    margin-top:20px;
}

.result {
    margin:5px;
    min-height: 150px;
}


/* Snippet from http://goo.gl/BYaqf */
ul.inline-block,
ul.inline-block > li {
    /* Setting a common base */
    margin: 0;
    padding: 0;
}
 
ul.inline-block > li {
    display: inline-block;
    vertical-align: top;
}

.avatars {
    width:100px;
    height:100px;
}

.meta {
    width:372px;
}

.comments {
    float: right;
}

.snippet {
    cursor: hand; cursor: pointer;
}
.snippet:hover {
    box-sizing: border-box;
    border: 1px solid #42688f;
    position: relative;

    margin-right:1px;

    background: #459df7;
    box-shadow: inset 0 0 2px white;
    
    color: white;
}

.img-circle {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    cursor: hand; cursor: pointer;
}


.votes {
    margin-top:10px;
    text-align:center;
}

.votes-num {
    color:#67b5f6;
    font-size: 150%;
    font-weight:bold;
}

.votes-votes {
    font: 12px;
    font-weight:bold;
    font-size: 50%;
    margin-left:5px;
}


pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#publish-bar {

/*    border-radius: 4px; */
    background: #ddffdd;

    border: 5px solid #dadada;
    position: relative;
    padding: 5px;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

/*    box-shadow: inset 5px 5px 5px rgba(0,0,0,.1); */
    box-sizing: border-box;
    color: #555;
    
    text-align:center;
}

#publish-bar:hover {
    background: #ccffcc;
    cursor: hand; cursor: pointer;
}