.center{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

#centerColumn{
    text-align:  center;
}

#top{
    padding-bottom: 20px;
}

#summary{
    width: 80%;
    height: 50%;
    margin: auto auto;
    border: 1px solid black;
}

#table{

}

#profPic{
    float: left;
    display: inline;
    margin-bottom: 20px;
    margin-left:10px;
}


#name{
    float:left;
    display: inline;
    margin-top:24px;
    margin-left:20px;
}

#rep{
    float:left;
    margin-top:24px;
    margin-left:40px;
}


.snippet{
    text-align: left;
}

.metaHeader{
    padding-left: 10px;
}


.following{
    border: 6px solid #2b88cc;
}


